@import url('https://fonts.googleapis.com/css2?family=Mochiy+Pop+One&family=Montserrat:wght@500;700&family=Open+Sans&family=Poppins:wght@500;800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Mochiy Pop One', sans-serif;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Open Sans', sans-serif;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 25px 12.5%;
    background: rgba(17, 17, 17, 0.479);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
}

.logo {
    width: 170px;
    color: #e4e4e4;
    cursor: pointer;
    margin-right: auto;
    margin-left: 0;
    font-size: 25px;
    display: flex;
    justify-content: flex-start;
}

.navbar a {
    position: relative;
    font-size: 16px;
    color: #e4e4e4;
    text-decoration: none;
    font-size: 15px;
    font-weight: 500;
    margin-right: 30px;
}

.navbar a::after{
    content: '';
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 100%;
    height: 2px;
    background: #e4e4e4;
    border-radius: 5px;
    transform: translateY(10px);
    opacity: 0;
    transition: .5s;
}

.navbar a:hover::after {
    transform: translateY(0);
    opacity: 1;

}

.navbar button {
    display:inline-block;
    width: 8vw;
    position: absolute;
    font-style: none;
    border-radius: 15px;
    background-color: transparent;
    border: 2px solid;
    padding-left: 10px;
    color: #e4e4e4;
    transition: all 0.5s;
    cursor: pointer;
    text-align: center;
}

.navbar button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

.navbar button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    transition: 0.5s;
}

.navbar button:hover span {
    padding-right: 25px;
}

.navbar button:hover span:after {
    opacity: 1;
    right: 0;
}



.bgimage {
    width: 100%;
    height: 100vh;
    background: url(IMAGE/tsyo-victoria-van-den-hoef-829071c7-e8b0-4e75-8233-a3dcfe0cb745.jpg) no-repeat;
    position: absolute;
    background-size: cover;
    background-position: center;
}